<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jinhui.classspirit.mapper.ClassMapper">

    <select id="getClassList" resultType="classes">
        SELECT class_id, class_name FROM classes
    </select>

    <select id="getClassById" resultType="classes">
        SELECT class_id, class_name FROM classes
        <where>
            1=1 and class_id = #{classId}
        </where>
    </select>
</mapper>